<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">{{ blocks.name }}</li>
    </ol>
    <a href="/article/create/{{ blocks.id }}" type="button" class="btn btn-primary">发表文章</a>
    <br />
    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>标题</th>
                <th>作者</th>
                <th>创建时间</th>
                <th>最后更新时间</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="/article/articledetail/{{ article.id }}">{{ article.title }}</a></td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.create_timestamp|date:'Y-m-d P' }}</td>
                    <td>{{ article.last_update_timestamp|date:'Y-m-d P' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'component/paginator.html' %}

{% endblock %}
</body>
</html>