<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>articles</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    {% for item in blocks %}
        <ol class="breadcrumb">
          <li><a href="/">主页</a></li>
          <li><a class="active" href="/article/list/{{ item.id }}">{{ item.name }}</a></li>
          <li>发表文章</li>
        </ol>
        <form action="/article/create/{{ item.id }}" class="form-horizontal" method="post">{% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" placeholder="标题" value="{{ form.title.value }}" />
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">内容</label>
            <div class="col-sm-10">
                <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
                <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
                <script id="container" name="content" type="text/plain"></script>
                <input type="hidden" name="content" id="contentInput" />
{#              <textarea class="form-control" rows="3" name="content">#}
{#                  {{ form.content.value }}#}
{#              </textarea>#}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" onclick="setContent()">发表</button>
            </div>
          </div>
          {% for field in form %}
              {% if field.errors %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">{{ field.label }}:{{ error }}</div>
                  {% endfor %}
              {% endif %}
          {% endfor %}
        </form>
    {% endfor %}
    <script type="text/javascript">
        var ue = UE.getEditor('container');
        function setContent() {
            document.getElementById('contentInput').value = ue.getContent();
        }
    </script>
{% endblock %}
</body>
</html>