<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webtemplate</title>
</head>
<body>

<div class="container">   {# 首先定义容器 #}
	<div class="row">   {# 然后定义行 #}
		<div class="col-md-12"> {# 然后定义列 #}
			<h2>PYTHON FORUM</h2>
		</div>
	</div>
	<div class="row">   {# 定义行 #}
		<div class="col-xs-12 col-md-2">TITLE1</div>
		{# 定义多列 #}
		<div class="col-xs-12 col-md-8">TITLE2</div>
		<div class="col-xs-12 col-md-2">TITLE3</div>
	</div>
</div>

{% extends 'base.html' %} {# 先延伸base.html #}
{% block content %}
	{# 再写入本页面内容  #}
{% endblock %}
<form action="/article/create/{{ item.id }}" class="form-horizontal" method="post">{% csrf_token %}
	<div class="form-group">
		<label class="col-sm-2 control-label">标题</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="title" placeholder="标题" value="{{ form.title.value }}"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">内容</label>
		<div class="col-sm-10">
			<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
			<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
			<script id="container" name="content" type="text/plain"></script>
			<input type="hidden" name="content" id="contentInput"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default" onclick="setContent()">发表</button>
		</div>
	</div>
	{% for field in form %}
		{% if field.errors %}
			{% for error in field.errors %}
				<div class="alert alert-danger">{{ field.label }}:{{ error }}</div>
			{% endfor %}
		{% endif %}
	{% endfor %}
</form>


<h1>文字类</h1>
<h1>h1 的展示效果</h1>
<h2>h2 的展示效果</h2>
<h3>h3 的展示效果</h3>
<h4>h4 的展示效果</h4>
<h5>h5 的展示效果</h5>
<h6>h6 的展示效果</h6>
<label>label的展示效果</label>
<span>span的展示效果</span>
<p>p的展示效果</p>
<a href="">a的展示效果</a>
<a href="http://www.baidu.com">跳转到百度</a>
<h1>组件类：table</h1>
<table>
    <thead>
        <tr>文字类</tr>
        <tr>组件类</tr>
        <tr>布局类</tr>
    </thead>
    <tbody>
        <tr>
            <td>span</td>
            <td>table</td>
            <td>br</td>
        </tr>
        <tr>
            <td>h2</td>
            <td>form</td>
            <td>div</td>
        </tr>
    </tbody>
</table>

<h1>组件类标签：form</h1>
<form>
    <label>姓名：</label>
    <input type="text" />
    <br />
    <label>密码：</label>
    <input type="password" />
    <br />
    <label>性别</label>
    <select>
        <option>男</option>
        <option>女</option>
    </select>
    <br />
    <label>备注</label>
    <br />
    <textarea rows="10" cols="30"></textarea>
    <br />
    <button>提交</button>
    <input type="submit" value="提交2"/>
</form>

<h1>布局类标签：div</h1>
<div id="outer">
    <div id="inner1">
        <input type="text"/>
    </div>
    <div id="inner2">
        <button>赞</button>
    </div>
</div>

</body>
</html>

<input type="text" style="width: 500px" />


<input type="text" id="nameInput"/>

<div id="outer">
    <div class="inner left">
        <input type="text"/>
    </div>    <div class="inner right">
        <button>赞</button>
    </div>
</div>

<style type="text/css">
   .inner{
    background-color:blue;
}
</style>