<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webtemplate</title>
</head>
<body>
<h1>文字类</h1>
<h1>h1 的展示效果</h1>
<h2>h2 的展示效果</h2>
<h3>h3 的展示效果</h3>
<h4>h4 的展示效果</h4>
<h5>h5 的展示效果</h5>
<h6>h6 的展示效果</h6>
<label>label的展示效果</label>
<span>span的展示效果</span>
<p>p的展示效果</p>
<a href="">a的展示效果</a>
<a href="http://www.baidu.com">跳转到百度</a>
<h1>组件类：table</h1>
<table>
    <thead>
        <tr>文字类</tr>
        <tr>组件类</tr>
        <tr>布局类</tr>
    </thead>
    <tbody>
        <tr>
            <td>span</td>
            <td>table</td>
            <td>br</td>
        </tr>
        <tr>
            <td>h2</td>
            <td>form</td>
            <td>div</td>
        </tr>
    </tbody>
</table>

<h1>组件类标签：form</h1>
<form>
    <label>姓名：</label>
    <input type="text" />
    <br />
    <label>密码：</label>
    <input type="password" />
    <br />
    <label>性别</label>
    <select>
        <option>男</option>
        <option>女</option>
    </select>
    <br />
    <label>备注</label>
    <br />
    <textarea rows="10" cols="30"></textarea>
    <br />
    <button>提交</button>
    <input type="submit" value="提交2"/>
</form>

<h1>布局类标签：div</h1>
<div id="outer">
    <div id="inner1">
        <input type="text"/>
    </div>
    <div id="inner2">
        <button>赞</button>
    </div>
</div>

</body>
</html>