<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛首页</title>
</head>
<body>
<h2>Python部落论坛</h2>
<div>运维专区</div>
<div>Django专区</div>
<div>部落建设</div>
<input type="text" style="width: 500px" />


<input type="text" id="nameInput"/>
#nameInput{
    width:500px;
}


<div id="outer">
    <div class="inner left">
        <input type="text"/>
    </div>
    <div class="inner right">
        <button>赞</button>
    </div>
</div>

<style type="text/css">
   .inner{
    background-color:blue;
}
</style>
</body>
</html>