<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                <div class="panel-info">
                    <div class="panel-heading">
                        <b>注册</b>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="">{% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-addon">用户名</span>
                                <input id="id_username" name="username" type="text" class="form-control" maxlength="254"/>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">邮箱</span>
                                <input id="id_email" name="email" type="text" class="form-control" />
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">密码</span>
                                <input id="id_password" name="password" type="password" class="form-control" />
                            </div>
                            <br/>
                            <div class="input-group">
                                <span class="input-group-addon">确认密码</span>
                                <input id="id_password_check" name="password_check" type="password" class="form-control" />
                            </div>
                            <br/>
                            <input type="submit" class="btn-primary" value="注册">
                        </form>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
</body>
</html>