<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传头像</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/index">首页</a></li>
            <li class="active">上传头像</li>
        </ol>
    </div>
    <div class="col-md-3">
    
    </div>
    <div class="col-md-6">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>上传头像</label>
            <input type="file" name="avatar" />
            <br />
            <input type="submit" class="btb btn-primary" value="提交">
        </form>
    </div>
    <div class="col-md-3">
    
    </div>
{% endblock %}
</body>
</html>